	div{
		height: 8px;
		width: 500px;
		float:left;
		padding:20px;
		font-size:20px;
		}
	.demo{
		height: 8px;
		width: 500px;
		float:left;
		border:1px;
		padding:20px;
		font-size:20px;
	}

.intro {
    color: red;
}
.disply{
	display:none;
}	

			